#blog {
 padding-left: 10%;
 padding-right: 10%;
 padding-bottom: 5%;
 padding-top: 5%;
}

.content{
  font-size: 1em;
  padding: 5px;
}

.date {
  font-size: .75em;
  padding: 5px;
   line-height: 1em;
}

.sub_title {
  font-size: 1em;
  padding: 5px;
  line-height: 1em;
}

.title {
  font-size: 1.5em;
  padding: 5px;
  line-height: 1em;
}

.blog_image {
  text-align: center;
  border-color: black;
  border-width: 10em;
}

.list {
  line-height: 30px;
}

.paragraph_header {
  padding-top: 10px;
  text-decoration: underline;
}

.examples {
  padding: 30px;
}

.list_description {
  line-height: 10px;
  padding: 10px;
}

.columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.sub_header {
  font-weight: bold;
  font-size: 18px;
  padding-top: 1em;
}



