#blog {
 padding: 10%;
}

.content{
  font-size: 1em;
  padding: 5px;
}

.date {
  font-size: .75em;
  padding: 5px;
   line-height: 1em;
}

#footer {
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  width:100%;
  height:15%;
  position: absolute;
  bottom:0;
  left:0;
  background:#ee5; 
}

.sub_title {
  font-size: 1em;
  padding: 5px;
  line-height: 1em;
}

.title {
  font-size: 1.5em;
  padding: 5px;
  line-height: 1em;
}


