a {
  color: #333;
  padding: 10px;
}


.header {
 padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  width:100%;
  background:white;
}

html {
  background-color: #f6f6f6;
  font-family: 'Gotham A','Gotham B',sans-serif;
  font-weight: 100;
  line-height: 1.1em;
}

.name {
  color: #333;
  font-size: 2em;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 40px;
}


