a {
  color: #333;
  padding: 10px;
}

.header {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  width:100%;
  background:white;
}

html {
  background-color: #f6f6f6;
  font-family: 'Gotham A','Gotham B',sans-serif;
  font-weight: 100;
  line-height: 1.1em;
}

.name {
  color: #333;
  font-size: 2em;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 40px;
}

#footer {
  text-align: center;
}

.question {
  font-weight: bold;
}

.answer {
  padding-top: 1em;
  padding-bottom: 1em;
}

.infoheader {
  margin-bottom: 2em;
  border-style: dashed;
  padding: 1em;
}

.techheader {
  margin-bottom: 2em;
  border-style: dotted;
  padding: 1em;
}
