.name {
  color: #333;
  font-family: 'Gotham A','Gotham B',sans-serif;
  font-weight: 100;
  font-size: 50px;
  line-height: 1.1em;
  text-align: center;
  margin-top: 60px;
}

#headshot {
  margin-top: 60px;
  margin-bottom: 25px;
  text-align: center;
}

html {
  background-color: #f6f6f6;
}

.blog_link {
  color: #333;
  font-family: 'Gotham A','Gotham B',sans-serif;
  padding-top: 60px;
  text-align: center;
  line-height: 2em;
  column-count: 2;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */

}
}

#nav_bar {
  color: #333;
  font-family: 'Gotham A','Gotham B',sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

a {
  color: #333;
  margin: 10px;
}




